{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .contentapp2{
            max-width: 500;
            background-color: gold;
            margin: auto;
            text-align:center;
        }
    </style>
</head>

<body style="background-color: orange;">
    {% include 'base.html' %}
    <div class="container" style="margin-top:50px; border: 3px solid black; background-color: cornsilk; width: 60%;">
        <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
            <h2>Isi Form Donasi</h2>
            <br>
            <h3>Masukkan data diri</h3>
            <hr color="green">
            <form action="{% url 'app2:fp' %}" method="POST">
                {% csrf_token %}
                {{formu.nama_orang|as_crispy_field}}
                {{formu.nomor_hp|as_crispy_field}}
                {{formu.alamat_email|as_crispy_field}}
                <br>
                <h3>Metode pembayaran</h3>
                <hr color="green">
                {{formu.nama_bank|as_crispy_field}}
                <br>
                <h3>Jumlah donasi</h3>
                <hr color="green">
                {{formu.jumlah_donasi|as_crispy_field}}
                <input class="btn btn-primary" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</body>


{% endblock content %}