{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .contentapp2{
            max-width: 500;
            background-color: gold;
            margin: auto;
            text-align:center;
        }
    </style>
</head>
<body style="background-color: orange;">
    {% include 'base.html' %}
    <div class="container" style="margin-top:50px; border: 3px solid black; background-color: cornsilk; width: 60%;">
        <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
            <h2>PENGIRIMAN DONASI SUKSES!</h2>
            <br>
            <p>Uang donasi yang anda berikan telah kami terima.<br>
                Kami mengucapkan terima kasih atas bantuan yang diberikan</p>
            <a href="{% url 'app1:home' %}"><button class="btn btn-primary">Kembali ke Menu Utama</button></a>
        </div>
    </div>
    
</body>

{% endblock content %}