{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .contentapp2{
            background-color: rgb(250, 216, 173);
            max-width: 500;
            margin: auto;
            text-align:center;
        }
    </style>
</head>
<body style="background-color: orange;">
    {% include 'base.html' %}
    <div class="container" style="margin-top:50px; border: 3px solid black; background-color: cornsilk; width: 60%;">
        <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
            <form action="{% url 'app2:kp' %}" method="POST">
                {% csrf_token %}
                <h2>KONFIRMASI PEMBAYARAN</h2>
                <br>
                <p><b>Jumlah Donasi:</b></p>
                <p style="color: green">Rp. {{formu.jumlah_donasi.data}}</p>
                <br>
                <p><b>Transfer ke:</b></p>
                <p style="color: grey;">464 464 464</p>
                <br>
                <p><b>Nama Bank:</b></p>
                <p>{{formu.nama_bank.data}}</p>
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button class="btn btn-default" type="button">
                    <a href="{% url 'app2:fp' %}">Back</a>
                </button>
            </form>
        </div>   
    </div>
</body>

{% endblock content %}