{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Konfirmasi Donasi Barang</title>
<style>
    .container{
      width: 60%;
      border-radius: 14px;
    }
</style>

</head>

<body style="background-color: green;">
  {% include 'base.html' %}
  <div  class="container" style="margin-top: 50px; border: 3px solid orange; background-color: rgba(245, 245, 245, 0.9);">
      <form action="{% url 'app3:confirm' %}" method="post">
        {% csrf_token %}
        {{form.nama_donatur.as_hidden}}
        {{form.no_handphone.as_hidden}}
        {{form.barang.as_hidden}}
        {{form.date.as_hidden}}
        {{form.place.as_hidden}}
        <h2 align="center">Konfirmasi</h2>
        <p><b>Nama donatur</b></p>
        <p>{{form.nama_donatur.data}}</p>
        <p><b>No handphone</b></p>
        <p>{{form.no_handphone.data}}</p>
        <p><b>Jenis Barang Yang Akan Disumbangkan</b></p>
        <p>{{form.barang.data}}</p>
        <p><b>Waktu Penjemputan Barang</b></p>
        <p>{{form.date.data}}</p>
        <p><b>Alamat Penjemputan Barang</b></p>
        <p>{{form.place.data}}</p>
        <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">Confirm</button><br>
        <button onclick="window.history.back();" class="btn btn-default" type="button" style="display: block; margin: 0 auto;">Back</button>
      </form>
  </div>
  
</body>
{% endblock content %}
</html>