{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Donasi Sukses</title>
<style>
    .container{
      width: 60%;
      border-radius: 14px;
    }
</style>

</head>

<body style="background-color: green;">
  {% include 'base.html' %}
  <div class="container" style="margin-top: 50px; border: 3px solid orange; background-color: rgba(245, 245, 245, 0.9);">
    <h2 align="center">Sukses</h2>
    <p align="center">Barang donasi yang anda berikan akan kami jemput.<br>Kami mengucapkan terimakasih atas bantuan yang anda berikan</p>
    <button type="button" class="btn btn-primary" style="display: block; margin: 0 auto;">
      <a style="text-decoration: none; color: white;" href="{% url 'app1:home' %}">Kembali ke menu utama</a>
    </button>
  </div>
</body>
{% endblock content %}
</html>
