{% extends 'base.html' %}
{% load static %}
{% url 'app2:FormPelanggan' as uang_url %}
{% url 'app3:form_barang' as barang_url %}
{% url 'app4:relawan' as relawan_url %}


<html>
    
  {% block content %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>
      Home
    </title>
  </head>

  <body style="background-color:orange; font-family: Rubik; text-align: center;">
  {% include 'base.html' %}

  <div style="position: relative;">
    <h1 style="position: absolute; color: white; font-weight: 800; font-size: 3em;top: 50%; width: 100%;">Bersama Lawan Corona</h1>
    <img src={% static 'lawancr.png' %} class="d-block w-100" alt="...">
  </div>

  <div class="container">

    <div class="row justify-content-center">  
      <div class="col-9 mb-5 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3>Indonesia</h3>
                <h1><strong>{{ dataInd.total }}</strong></h1>
              </div>
              <div class="col">
                <h5>Sembuh</h5>
                <h5><strong>{{ dataInd.sembuh }}</strong></h5>
                <h5>Meninggal</h5>
                <h5><strong>{{ dataInd.meninggal }}</strong></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-9 mb-5">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3>Dunia</h3>
                <h1><strong>{{ dataD.total }}</strong></h1>
              </div>
              <div class="col">
                <h5>Sembuh</h5>
                <h5><strong>{{ dataD.sembuh }}</strong></h5>
                <h5>Meninggal</h5>
                <h5><strong>{{ dataD.meninggal }}</strong></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <p>Update per tanggal {{ tanggal }}</p>
  </div>

  <!-- <nav class="nav justify-content-center bg-dark" style="background-color: black;">
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Donasi Uang</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Donasi Barang</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Daftar Relawan</a>
    </li>
  </nav> -->

  <div style="background-color: black; padding: 1%;">
    <ul style="list-style-type:none; display: inline-flex; margin-bottom: 0;">
      <li class="nav-item" style="border: 0.4em solid orange; border-radius: 5em; padding: 0.4em; margin: 1em 2em 1em 2em;">
        <a style="color: white;" class="nav-link" href="{{ uang_url }}">Donasi Uang</a>
      </li>
      <li class="nav-item" style="border: 0.4em solid orange; border-radius: 5em; padding: 0.4em; margin: 1em 2em 1em 2em;">
        <a style="color: white;" class="nav-link" href="{{ barang_url }}">Donasi Barang</a>
      </li>
      <li class="nav-item" style="border: 0.4em solid orange; border-radius: 5em; padding: 0.4em; margin: 1em 2em 1em 2em;">
        <a style="color: white;" class="nav-link" href="{{ relawan_url }}">Form Relawan</a>
      </li>
    </ul>
  </div>

  </body>
  {% endblock content %}

</html>
