<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
<html>
  {% block content %} 
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Form Pendaftaran Relawan
        </title>
    </head>
    
    <body style="background-color:orange; font-family: Rubik;">
      {% include 'base.html' %}
		  <div class="container">
        <div class="card" style="margin-top: 50px; margin-bottom: 50px; background-color: rgba(245, 245, 245, 0.9);">
          <div class="container">
        <h2 style="text-align: center; margin-top: 50px; margin-bottom: 10px;">Pendaftaran Relawan</h1>
        <h6 style="text-align: center; margin-bottom: 20px;">Silahkan isi dengan biodata anda</h6>
            <div class="row">
                <div class="col-md-12" style="text-align: left;">
                  
                    <form action='' method="POST">
                        {% csrf_token %}
                        {{ form.nama|as_crispy_field }}
                        {{ form.nama_panggilan|as_crispy_field }}
                        <div class='form-row'>
                          <div class='form-group col-md-6'>
                            {{ form.no_hp|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-6'>
                            {{ form.email|as_crispy_field }}
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='form-group col-md-6'>
                            {{ form.identitas|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-6'>
                            {{ form.no_identitas|as_crispy_field }}
                          </div>
                        </div>
                        {{ form.alamat|as_crispy_field }}
                        <div class='form-row'>
                          <div class='form-group col-md-4'>
                            {{ form.jenis_kelamin|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.kota_kelahiran|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.tanggal_lahir|as_crispy_field }}
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='form-group col-md-4'>
                            {{ form.agama|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.status|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.pekerjaan|as_crispy_field }}
                          </div>
                        </div>
                        {{ form.peminatan|as_crispy_field }}
                        {{ form.saya_menyetujui_syarat_dan_ketentuan_yang_berlaku|as_crispy_field }}
                        <div class="centre-items" style="margin-top: 50px; text-align: center;">
                            <input type="submit" class="btn btn-primary" name="btn-form" value="Submit Form" style="margin-bottom: 50px;"></input>
                        </div>
                    </form>
                  
                </div>
        </div>
      </div>
      </div>
      {% endblock content %}
	</body>
</html>