<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
<html>
  {% block content %} 
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'cssfile/style.css' %}">
        <title>
            Pendaftaran Sukses
        </title>
    </head>
    
    <body style="background-color:orange; font-family: Rubik;">
      {% include 'base.html' %}
		  <div class="container">
        <div class="card" style="margin-top: 50px; margin-bottom: 50px;background-color: rgba(245, 245, 245, 0.9);">
          <div class="container">
            <div class="row">
              <img class="foto" src="{% static 'email.png' %}" style="margin-left:auto; margin-right: auto; margin-top: 20px; display: block; width: 200px; height: 200px;">  
            </div>
            <div class="row">
              <h3 style="margin-left:auto; margin-right: auto; margin-top: 20px;">Terima kasih telah melakukan registrasi!</h3>
            </div>
            <div class="row">
              <p style="text-align: center;margin-left:auto; margin-right: auto; margin-top: 20px;">Kami sangat mengapresiasi kebaikan anda untuk menjadi relawan kami. Kami telah mengirimkan email verifikasi untuk anda. Silahkan melakukan verifikasi data anda untuk menuju tahap selanjutnya. :)</p>
            </div>
            <div class="row">
                <div class="centre-items" style="margin-top: 50px; text-align: center; margin-left: auto;margin-right: auto;margin-bottom: 50px;">
                    <a href="{% url 'app1:home' %}"><button class="btn btn-primary">Menu Utama</button></a>    
                        </div>
                    </form>
                  
                </div>
        </div>
      </div>
      </div>
      {% endblock content %}
	</body>
</html>